@model PagedList.IPagedList<Model.Diagnosticos>
@using PagedList.Mvc
@{ string strOrden = ""; string strImgOrder = "";}
@using SistTestMillon.Helpers;

    <table class="c-table c-table--highlight u-mb-small">
        <caption class="c-table__title">
            <div class="row">
                <div class="col-md-6">
                    <div class="c-field has-addon-right">
                        @Html.TextBox("buscando", ViewBag.CurrentSearch as string, new { @class = "c-input" })
                        @Html.ActionLink("..", "ListaDiagnosticos2", new { sort = ViewBag.CurrentSort, search = "xyz2" },
             new { @class = "c-btn c-btn--info", btnName = "FilterCustomer2" })
                    </div>
                </div>
            </div>
        </caption>


        <thead class="c-table__head c-table__head--slim">

            <tr class="c-table__row">
                <th class="c-table__cell c-table__cell--head">Dni</th>
                <th class="c-table__cell c-table__cell--head">Paciente</th>
                <th class="c-table__cell c-table__cell--head">Fecha</th>
                <th class="c-table__cell c-table__cell--head">Hora de Inicio</th>
                <th class="c-table__cell c-table__cell--head">Hora final</th>
                <th class="c-table__cell c-table__cell--head">
                    <span class="u-hidden-visually">Tools</span>
                </th>
            </tr>

        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="c-table__row CodElegido">
                        <td class="c-table__cell">
                            @item.DniPaciente
                        </td>
                        <td class="c-table__cell">
                            @{var dd=PatronClinicoHelper.nombres(item.DniPaciente);

                             }
                            @dd
                        </td>
                        <td class="c-table__cell">
                            @item.Fecha
                        </td>                           
                        <td class="c-table__cell">
                            @item.HoraInicio
                        </td>
                        <td class="c-table__cell">
                            @item.HoraFinal
                        </td>
                        <td class="c-table__cell u-text-right">
                            <div>
                                <a class="c-btn c-btn--success" onclick="seleccion(@item.IdDiagnostico)">
                                    <i class="fa fa-pencil-square-o u-mr-xsmall"></i>Elegir
                                </a>
                                @Html.ActionLink("Detalle", "ImprimirDetalle", new { id = item.IdDiagnostico }, new { @class = "c-btn c-btn--info", target = "_blank" })
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="c-table__cell" colspan="10">
                        No tienes productos registrados
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    </div>
    <div class="dataTables_paginate paging_simple_numbers" id="myPager">
        @Html.PagedListPager(Model, page => Url.Action("ListaDiagnosticos2", new { page, sort = ViewBag.CurrentSort, search = ViewBag.Buscar }))
    </div>
    <script>

        function seleccion(a) {
            var identificador = parseInt(a);

            $('#Diagnostico').val(identificador);
            $("#modal9").modal('hide');
        }

        document.getElementById("modal9").style.zIndex = "1052";
        document.getElementById("modal8").style.zIndex = "1051";






        $('#myPager').on('click', 'a', function (e) {
            //prevent action link normal functionality
            e.preventDefault();
            var van = this.href; if (van != "" && van != null) {
                //ajax call index controller action
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        //load returned data inside contentFrame DIV
                        $('#divProductos2').html(result);
                    }
                });
                return false;
            }
        });


        $("a[btnName=FilterCustomer2]").click(function (e) {
            e.preventDefault();
            var search = $('input[name=buscando]').val();
            this.href = this.href.replace('xyz2', search);
            $.ajax({
                url: this.href,
                type: 'POST',
                cache: false,
                success: function (result) {
                    $('#divProductos2').html(result);
                }
            });
        });



        var permiteOrdenar = '';
        $(document).ready(function () {
            $(".permiteOrdenar").on("click", function () {
                permiteOrdenar = $(this).data("order");
                cargaTabla($(this).data("order"), $("#txtBuscar").val());
            });
            $("#btnBuscar").click(function () {
                cargaTabla(permiteOrdenar, $("#txtBuscar").val());
            });
            $("#datatable_paginate").on("click", 'a', function (e) {
                e.preventDefault();
                $("#msgCargando").show();
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $("#msgCargando").hide();
                        $('#divProductos2').html(result);
                    }
                });
            });
        });




    </script>
