@model IEnumerable<Model.Cuestionario>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ViewMillon.cshtml";
    string dni = "",sexo="",fecha="",horaInicio="";
    if (HttpContext.Current.Session["TipoUsuario"] == null)
    {
        Response.Redirect("~/Account/Index");
    }
    else
    {
        dni = HttpContext.Current.Session["Dni"].ToString();
        sexo = HttpContext.Current.Session["Sexo"].ToString();
        fecha = DateTime.Now.ToString("dd/MM/yyyy");
        horaInicio = DateTime.Now.ToString("hh:mm:ss tt");
    }


}
<br /><br />
<body style="background-color:#eff3f6">
<div class="row u-mb-large" id="PreguntasTest" >
    <div class="col-sm-12">
        <div class="c-table-responsive@desktop">
            <table class="c-table c-table--highlight u-mb-small">
                <caption class="c-table__title" style="background-color:Highlight;caption-side:top">
                        <h3 style="text-align:center">Test Millon</h3>
                        <p style="text-align:center">Contesta las siguientes preguntas marcando V o F</p>
                </caption>
                <thead class="c-table__head c-table__head--slim">
                    <tr class="c-table__row">
                        <th class="c-table__cell c-table__cell--head">N°</th>
                        <th class="c-table__cell c-table__cell--head">Pregunta</th>
                        <th class="c-table__cell c-table__cell--head">
                            <span class="u-hidden-visually">Tools</span>
                        </th>
                    </tr>
                </thead>
                <tbody >
                    @{int inicio = 0;}
                    @if (Model.Count() > 0)
                    {
                        
                        foreach (var item in Model)
                        {
                            inicio = item.Id; 
                            <tr class="c-table__row">
                                <td class="c-table__cell Numero">
                                    @item.Id
                                </td>
                                <td class="c-table__cell Pregunta">
                                    @item.Pregunta
                                </td>
                                <td class="c-table__cell">
                                    <div class="text-right">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input u-text-right" id="@item.Id" name="Respuesta+@item.Id" value="1">
                                            <label class="custom-control-label" for="@item.Id">V</label>
                                        </div>

                                        <!-- Default inline 2-->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="@item.Id+1" name="Respuesta+@item.Id" value="0">
                                            <label class="custom-control-label" for="@item.Id+1">F</label>
                                        </div>
                                    </div>

                                </td>
                            </tr>

                        }
                        
                    }
                    else
                    {
                        <tr>
                            <td class="c-table__cell" colspan="10">
                                No tienes productos registrados
                            </td>
                        </tr>
                    }

                    
                </tbody>
            </table>
            <div style="text-align:right">
                <input type="button" class="c-btn c-btn--info" disabled value="Procesar" onclick="CapturarDatos(2)" id="Proceso"/>
                <input type="button" class="c-btn c-btn--info" onclick="cambiarPreguntas(2)" value="Siguiente" id="Next"/>
                <input type="button" class="c-btn c-btn--info" onclick="Retroceder(2)" value="Atras" id="Back"/>
                
            </div>

        </div>
    </div>
</div>
</body>

@section Scripts {
<script type="text/javascript">
    var a = 0;
    var cadena = "";
    var myVar = setInterval(myTimer, 1000);
    var horaFinal;

    function myTimer() {
        var d = new Date();
        horaFinal = d.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true, second: 'numeric' });
        //document.getElementById("demo").innerHTML = horaFinal;
    }

    function myStopFunction() {
        clearInterval(myVar);
    }

    function almacenar(s) {

        var seleccion1 = $("input:radio[name='Respuesta+1']:checked").val();
        var seleccion2 = $("input:radio[name='Respuesta+2']:checked").val();
        var seleccion3 = $("input:radio[name='Respuesta+3']:checked").val();
        var seleccion4 = $("input:radio[name='Respuesta+4']:checked").val();
        var seleccion5 = $("input:radio[name='Respuesta+5']:checked").val();

        if ($("input:radio[name='Respuesta+1']:checked").val() == null) {
            seleccion1 = '0';
        }
        if ($("input:radio[name='Respuesta+2']:checked").val() == null) {
            seleccion2 = '0';
        }
        if ($("input:radio[name='Respuesta+3']:checked").val() == null) {
            seleccion3 = '0';
        }
        if ($("input:radio[name='Respuesta+4']:checked").val() == null) {
            seleccion4 = '0';
        }
        if ($("input:radio[name='Respuesta+5']:checked").val() == null) {
            seleccion5 = '0';
        }


        var seleccionados = seleccion1 + seleccion2 + seleccion3 + seleccion4 + seleccion5;

        return seleccionados;

    }

    function cambiarPreguntas(m) {
        var c = document.getElementsByClassName("Numero")[4].textContent;

        if (c<= 175) {
            cadena = cadena + almacenar(2);
            //alert(cadena);
        }
        
        if (c <= 170) {
            a = a + 5;
        }
        if (c == 170) {
            document.getElementById("Proceso").disabled = false;
            document.getElementById("Next").disabled = true;
        
        }
        $('input[type=radio]').prop('checked', false);
        var primero = parseInt(a);
        $.ajax({
            url: "@Url.Action("Index", "TestMillon")",
            type: "POST",
            dataType:'json',
        //crossDomain: true,
        data: { min:primero,max:primero+5},
        success: function (data) {
            // Si la petición es satisfactoria, se recarga la página actual
            //$('#PreguntasTest').load(' #PreguntasTest');
            for (var i = 0; i < 5; i++) {

            document.getElementsByClassName("Numero")[i].textContent = data[i].Id;
            document.getElementsByClassName("Pregunta")[i].textContent = data[i].Pregunta;

            }


                      
        }
    });

    }

    function Retroceder(m) {
        document.getElementById("Next").disabled =false;
        var cadenaNueva = "";
        for (var i =0; i<cadena.length-5;i++) {
            cadenaNueva = cadenaNueva + cadena[i];            
        }

        cadena = cadenaNueva;
        //alert(cadenaNueva);
        $('input[type=radio]').prop('checked', false);
        b = document.getElementsByClassName("Numero")[0].textContent;
        c = document.getElementsByClassName("Numero")[4].textContent;
        document.getElementById("Proceso").disabled =true;
        if (b>5) {
            a = a - 5;

        }       
        var primero = parseInt(b);
        var segundo = parseInt(c);
        $.ajax({
            url: "@Url.Action("Retroceso", "TestMillon")",
            type: "POST",
        dataType:'json',
        //crossDomain: true,
        data: { min:primero-5,max:segundo-5},
        success: function (data) {
            // Si la petición es satisfactoria, se recarga la página actual
            //$('#PreguntasTest').load(' #PreguntasTest');
            for (var i = 0; i < 5; i++) {

                document.getElementsByClassName("Numero")[i].textContent = data[i].Id;
                document.getElementsByClassName("Pregunta")[i].textContent = data[i].Pregunta;

            }


                      
        }
    });

    }

    function CapturarDatos(m) {
        cadena = cadena + almacenar(2);
        //alert(cadena);
        document.getElementById("Proceso").disabled = true;
        document.getElementById("Back").disabled = true;
        clearInterval(myVar);

        $.ajax({
            url: "@Url.Action("Diagnosticar", "TestMillon")",
            type: "POST",
        dataType:'json',
        //crossDomain: true,
        data: { Patron: cadena, Dni: "@dni", Sexo: "@sexo", Fecha: "@fecha", HoraInicio: "@horaInicio", HoraFinal:horaFinal },
        success: function (data) {
            // Si la petición es satisfactoria, se recarga la página actual
            window.location.href = data;                       
        }
    });



    }


</script>
}