@model Model.Horarios
@using SistTestMillon.Helpers;
@{

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />

    <link href='~/Content/css/fontawesome.css' rel='stylesheet' />
    <link href='~/Content/css/all.css' rel='stylesheet' />
    <link href='~/Content/css/tempusdominus-bootstrap-4.min.css' rel='stylesheet' />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <script src='~/Content/Calendar/fullcalendar_3.8/moment.min.js'></script>
    <script src='~/Content/Calendar/fullcalendar_3.8/jquery.min.js'></script>
    <script src='~/Content/Calendar/fullcalendar_3.8/fullcalendar.min.js'></script>
    <script src='~/Content/Calendar/fullcalendar_3.8/locale-all.js'></script>
    <link href="~/Content/css/custom.css" rel="stylesheet" />



    <style>
        .js-calendar2 {
            
        }
    </style>
</head>
<body>



    <header class="c-navbar u-mb-medium">
        <a class="c-navbar__brand" href="#!">
            <img src="~/Content/img/logo.png" alt="Dashboard's Logo">
        </a>

        <!-- Navigation items that will be collapes and toggle in small viewports -->
        <nav class="c-nav collapse" id="main-nav">
            <ul class="c-nav__list">
                <li class="c-nav__item">
                    <a class="c-nav__link" onclick="location.href='@Url.Action("Index", "Home")';return false;">System Millon</a>
                </li>
                <li class="c-nav__item">
                    <div class="c-field c-field--inline has-icon-right u-hidden-up@tablet">
                        <span class="c-field__icon">
                            <i class="fa fa-search"></i>
                        </span>

                        <label class="u-hidden-visually" for="navbar-search-small">Seach</label>
                        <input class="c-input" id="navbar-search-small" type="text" placeholder="Search">
                    </div>
                </li>
            </ul>
        </nav>
        <!-- // Navigation items  -->

        <div class="u-hidden-down@tablet u-ml-auto">
            <div class="c-field has-icon-right c-navbar__search">


                <a class="navbar-brand" onclick="location.href='@Url.Action("Index", "Citas")';return false;">
                    @if (HttpContext.Current.Session["Nombres"] == null || HttpContext.Current.Session["ApellidoPaterno"] == null)
            {
                Response.Redirect("~/Account/Index");
            }
            else
            {
                        <h6 style="font-family:Cambria">@HttpContext.Current.Session["Nombres"] @HttpContext.Current.Session["ApellidoPaterno"] @HttpContext.Current.Session["ApellidoMaterno"]</h6>
                    }
                </a>
            </div>
        </div>

        <div class="c-dropdown u-ml-medium dropdown">
            <a class="c-avatar c-avatar--xsmall has-dropdown dropdown-toggle" href="#" id="dropdwonMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="c-avatar__img" src="~/Content/img/users.png" alt="User's Profile Picture">
            </a>

            <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdwonMenuAvatar" x-placement="bottom-end" style="position: absolute; transform: translate3d(-94px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="c-dropdown__item dropdown-item" onclick="location.href='@Url.Action("Index", "Home")';return false;">Inicio</a>
                <a class="c-dropdown__item dropdown-item" onclick="location.href='@Url.Action("Cerrar", "TestMillon")';return false;">Cerrar Sesion</a>

            </div>



        </div>

        <button class="c-nav-toggle" type="button" data-toggle="collapse" data-target="#main-nav">
            <span class="c-nav-toggle__bar"></span>
            <span class="c-nav-toggle__bar"></span>
            <span class="c-nav-toggle__bar"></span>
        </button><!-- // .c-nav-toggle -->
    </header>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- A simple workaround to customize fullcalendar's header -->
                <div class="fc-header">
                    <h2 class="fc-header-title">All Events</h2>
                </div>

                <div class="js-calendar2 u-mb-large">

                </div>


            </div>
        </div>
    </div>


    <div class="c-modal modal fade" id="standard-modal3" tabindex="-1" role="dialog" aria-labelledby="standard-modal" data-backdrop="static" style="display: none;" aria-hidden="true">
        <div class="c-modal__dialog modal-dialog" role="document">
            <div class="c-modal__content">

                <div class="c-modal__header">
                    <h3 class="c-modal__title">Citas</h3>

                    <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </span>
                </div>

                <div class="c-modal__body" id="Detalles">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, ratione quibusdam? Consequuntur natus praesentium adipisci eos, reiciendis distinctio error nostrum animi quos hic perferendis eius fugiat fuga sunt fugit deserunt!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis eveniet modi excepturi error nesciunt cupiditate tempora deserunt perspiciatis exercitationem, suscipit temporibus officia sit recusandae autem iure vero neque quia consequatur!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, ratione quibusdam? Consequuntur natus praesentium adipisci eos, reiciendis distinctio error nostrum animi quos hic perferendis eius fugiat fuga sunt fugit deserunt!</p>
                </div>

                <div class="c-modal__footer" id="opciones">
                    <div class="row">
                        <div class="u-text-right">
                            <button class="c-btn c-btn--success" id="btnEditar">
                                <i class="fa fa-pencil-square-o u-mr-xsmall"></i>Editar
                            </button>
                            <button class="c-btn c-btn--danger" id="btnDelete">
                                <i class="fa fa-trash-o u-mr-xsmall"></i>Eliminar
                            </button>
                        </div>
                    </div>
                </div>

            </div><!-- // .c-modal__content -->
        </div><!-- // .c-modal__dialog -->
    </div>


    <div class="c-modal modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="standard-modal" data-backdrop="static" style="display: none;" aria-hidden="true">
        <div class="c-modal__dialog modal-dialog" role="document">
            <div class="c-modal__content">

                <div class="c-modal__header">
                    <h3 class="c-modal__title">Citas</h3>

                    <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </span>
                </div>

                <div class="c-modal__body">
                    <p>Fecha no Valida</p>
                    <div class="u-text-right">
                        <button type="button" class="c-btn c-btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

                <div class="c-modal__footer">

                </div>

            </div><!-- // .c-modal__content -->
        </div><!-- // .c-modal__dialog -->
    </div>

    <div class="c-modal c-modal--huge modal fade ocultarDespues3" id="Pacientes" tabindex="-1" role="dialog" aria-labelledby="modal9" aria-hidden="true">
        <div class="c-modal__dialog modal-dialog" role="document">
            <div class="c-modal__content">
                <div class="c-modal__header u-bg-primary">
                    <h3 class="c-modal__title">Pacientes</h3>
                    <span class="c-modal__close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                        <i class="fa fa-close"></i>
                    </span>
                </div>
                <div class="c-modal__body">
                    <div id="ListaPacientes" class="c-table-responsive@desktop">

                    </div>

                </div>
            </div><!-- // .c-modal__content -->
        </div><!-- // .c-modal__dialog -->
    </div>


    <div class="c-modal c-modal--huge modal fade ocultarDespues3" id="Psicologos" tabindex="-1" role="dialog" aria-labelledby="modal9" aria-hidden="true">
        <div class="c-modal__dialog modal-dialog" role="document">
            <div class="c-modal__content">
                <div class="c-modal__header u-bg-primary">
                    <h3 class="c-modal__title">Psicologos</h3>
                    <span class="c-modal__close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                        <i class="fa fa-close"></i>
                    </span>
                </div>
                <div class="c-modal__body">
                    <div id="ListaPsicologos" class="c-table-responsive@desktop">

                    </div>

                </div>
            </div><!-- // .c-modal__content -->
        </div><!-- // .c-modal__dialog -->
    </div>

    <div class="c-modal c-modal--large modal fade" id="ModalSave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
        <div class="c-modal__dialog modal-dialog" role="document">
            <div class="c-modal__content">
                <div class="c-modal__header u-bg-primary">
                    <h3 class="c-modal__title">Horarios</h3>
                    <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </span>
                </div>
                <div class="c-modal__body">
                    <form>
                        <input type="hidden" id="IdCita" value="0" />
                        <div class="row">
                            <div class="c-field u-mb-small col-12">
                                <label class="c-field__label" for="Descripcion">Descripcion</label>
                                <select name="Descripcion" class="c-select select2-hidden-accessible" id="Descripcion">
                                    <!-- Opciones de la lista -->
                                    <option value="Disponible">Disponible</option>
                                    <option value="Examen Psicologico" selected>Examen Psicologico</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="c-field__label" for="Profesion">Psicologo</label>
                                <div class="c-field has-addon-right" style="margin-bottom:10px">
                                    <input type="text" class="c-input" name="CodigoDiagnostico" id="DniPsicologo" placeholder="Seleccionar Diagnostico" required="required">
                                    <button type="button" class="c-btn c-btn--info" id="PsicologosTotales">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="c-field u-mb-small col-12">
                                <label class="c-field__label" for="Profesion">Inicio</label>
                                <div class="c-field has-addon-left" id="datetimepicker2" data-target-input="nearest">
                                    <span class="c-field__addon" data-target="#datetimepicker2" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></span>
                                    <label class="c-field__label u-hidden-visually" for="Profesion">Disabled Input</label>
                                    <input class="c-input" data-target="#datetimepicker2" id="HoraInicio" type="text" name="FechaNacimiento" placeholder="Focus to open caleendar">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="c-field u-mb-small col-12">
                                <label class="c-field__label" for="Profesion">Final</label>
                                <div class="c-field has-addon-left" id="datetimepicker1" data-target-input="nearest">
                                    <span class="c-field__addon" data-target="#datetimepicker1" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></span>
                                    <label class="c-field__label u-hidden-visually" for="Profesion">Disabled Input</label>
                                    <input class="c-input" data-target="#datetimepicker1" id="HoraFinal" type="text" name="FechaNacimiento" placeholder="Focus to open caleendar">
                                </div>
                            </div>
                        </div>
                        <div class="u-text-right">
                            <button type="button" class="c-btn c-btn-primary" data-dismiss="modal">Cerrar</button>
                            <button type="button" id="btnSave" class="c-btn c-btn-success">Guardar</button>
                        </div>
                    </form>

                </div>
            </div><!-- // .c-modal__content -->
        </div>
    </div>

</body>
</html>





<script src='~/Content/calendar/js/tempusdominus-bootstrap-4.js'></script>
<script src="~/Content/js/main.js"></script>





<script type="text/javascript">

    document.getElementById("Pacientes").style.zIndex = "1052";
    document.getElementById("Psicologos").style.zIndex = "1052";
    document.getElementById("ModalSave").style.zIndex = "1051";
    document.getElementById("error").style.zIndex = "1052";




    $(document).ready(function () {
        var selectedEvent = null;
        var dnis = "";
        var dniPacientes = "";
        var events = [];
        var calendar = null;
        Generar();

    });



    function Generar() {

        events = [];
        $.ajax({
            type: "Get",
            url: "/Horarios/GetHorarios",
            success: function (data) {
                $.each(data, function (i, v) {
                    events.push({
                        id: v.Id,
                        title: v.title,
                        start: v.start,
                        end: v.end,
                        dniPsicologo:v.dniPsicologo,
                        Psicologo: v.Psicologo

                    });

                })
                Calendario2(events);


            },
            error: function (error) {
                alert('failed');

            }


        })



    }





    function Calendario2(events) {
        $('.js-calendar2').fullCalendar('destroy');
        if ($('.js-calendar2').length) {
            var $calendar = $('.js-calendar2');

            $calendar.fullCalendar({
                //
                // Put your options and callbacks here
                //

                eventClick: function (calEvent, jsEvent, view) {
                    selectedEvent = calEvent;
                    jsEvent.preventDefault();
                    var $descripcion = $('<div/>');
                    $descripcion.append($('<h4/>').html('<b>Hora de Inicio:</b><br>' + calEvent.start.format('MMMM Do YYYY, h:mm:ss a')));

                    $descripcion.append($('<h4/>').html('<b>Paciente:</b><br>' + calEvent.title));
                    $descripcion.append($('<h4/>').html('<b>Psicologo:</b><br>' + calEvent.Psicologo));
                    dnis = calEvent.dniPsicologo;
                    dniPacientes = calEvent.dniPaciente;
                    titulo = calEvent.title;

                    var dfff = "@HttpContext.Current.Session["Dni"]";
                    var usuario = "@HttpContext.Current.Session["TipoUsuario"]";

                    if (usuario == "Administrador") {
                        //document.getElementById('opciones').style.visibility = 'visible';
                        //document.getElementById('PacientesTotales').style.visibility = 'visible';
                        //document.getElementById('PsicologosTotales').style.visibility = 'visible';
                    }

                    else if (dfff == dniPacientes && usuario == "Paciente") {
                        document.getElementById('opciones').style.visibility = 'visible';
                        document.getElementById('PacientesTotales').style.display = 'none';

                    }
                    else {
                        document.getElementById('opciones').style.visibility = 'hidden';

                    }


                    $("#standard-modal3 #Detalles").empty().html($descripcion);
                    $("#standard-modal3").modal("show");
                },
                selectable: true,
                overlap: false,
                select: function (start,end) {
                    selectedEvent = {
                        id: 0,
                        title: '',
                        start: start,
                        end: end,
                        dniPsicogolo: ""
                    };
                    OpenAddEdit();

                    $('.js-calendar2').fullCalendar('unselect');
                },
                header:
                {
                    left: 'prev,next',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },

                // Show full name of day instead of short(default) name
                dayNamesShort: ['Domingo', 'Lunes', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],

                // Time Format
                timeFormat: 'hh:mm a',
                defaultView: 'agendaWeek',

                // Events
                events:events,
            })
        }
    }


    $('#btnSave').click(function () {
        var horastart = $('#HoraInicio').val();
        var horasend = $('#HoraFinal').val();
        var primera = $('#HoraInicio').val().substring(0, 2);
        var segunda = $('#HoraFinal').val().substring(0, 2);

        @{var fechainicial = ContadorHelpers.FechaIni();
        var fecha = ContadorHelpers.ConsultarFechafin(fechainicial);
        }
        var mes1 = $('#HoraInicio').val().substring(3,5);
        var mes2 = $('#HoraFinal').val().substring(3, 5);
        var c = parseInt(mes1, 10);
        var d = parseInt(mes2, 10);
        var a = parseInt(primera, 10);
        var b = parseInt(segunda, 10);
        var horaprimer = horastart[11] + horastart[12];
        alert(horaprimer);
        var horasegund = horasend[11] + horasend[12];

        if ($('#DniPsicologo').val().trim() == "") {
            alert('Es requerido el Dni del paciente');
            return;
        }
        if ($('#HoraInicio').val().trim() == ""||@fecha<=horastart) {
            alert('Es requerido hora de inicio');
            return;
        }
        if ($('#HoraFinal').val().trim() == "") {
            alert('Es requerido hora final');
            return;
        }

        if ($('#HoraFinal').val().substring(0, 16) == $('#HoraInicio').val().substring(0, 16) || (a > b && c==d)  || horaprimer > horasegund) {
            $("#error").modal("show");
            return;
        }



        var data = {
            Id: $('#IdCita').val(),
            DniPsicologo: $('#DniPsicologo').val().trim(),
            FechaInicio: $('#HoraInicio').val().trim(),
            FechaFinal: $('#HoraFinal').val().trim(),
            Descripcion: $('#Descripcion').val().trim(),

        }
        Guardar(data);

    })

    $('#btnDelete').click(function () {
        $.ajax({
            type: "Post",
            url: "/Horarios/DeleEvent",
            data: { 'EventId': selectedEvent.id },
            success: function (data) {
                if (data.status) {
                    Generar();
                    $("#standard-modal3").modal('hide');

                }
                else {
                    Generar();
                    $("#standard-modal3").modal('hide');


                }




            },
            error: function (error) {
                alert('failed');

            }


        })

    })




    function Guardar(data) {
        $.ajax({
            type: "Post",
            url: "/Horarios/SaveEvent",
            data: data,
            success: function (data) {
                if (data.status) {
                    Generar();
                    $("#ModalSave").modal('hide');

                }
                else {
                    Generar();
                    $("#ModalSave").modal('hide');




                }

            },
            error: function (error) {
                alert('failed');

            }


        })
    }




    $("#PacientesTotales").click(function () {
        $.ajax({
            type: "Get",
            url: '@Url.Action("ListaPacientes", "Diagnostico")',
            cache: false,
            success: function (result) {
                $('#Pacientes').modal('show');
                $('#ListaPacientes').html(result);
            }
        })
    })

    $("#PsicologosTotales").click(function () {
        $.ajax({
            type: "Get",
            url: '@Url.Action("ListaPsicologos", "Diagnostico")',
            cache: false,
            success: function (result) {
                $('#Psicologos').modal('show');
                $('#ListaPsicologos').html(result);
            }
        })
    })



    $('#btnEditar').click(function () {
        OpenAddEdit();

    })


    function OpenAddEdit2() {

        $('#IdCita').val("");
        $('#DniPsicologo').val("");
        $('#Descripcion').val("");
        $('#HoraInicio').val("");
        $('#HoraFinal').val("");
    }




    function OpenAddEdit() {

        if (selectedEvent != null) {
            $('#IdCita').val(selectedEvent.id);
            if (selectedEvent.dniPsicogolo != "") {
                $('#DniPsicologo').val(selectedEvent.dniPsicologo);
                $('#Descripcion').val(selectedEvent.title);
            }
            $('#HoraInicio').val(moment(selectedEvent.start).format('DD/MM/YYYY HH:mm A'));
            $('#HoraFinal').val(moment(selectedEvent.end).format('DD/MM/YYYY HH:mm A'));
            alert(selectedEvent.title);

        }
        $("#standard-modal3").modal("hide");
        $("#ModalSave").modal("show");


    }




</script>
